@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,h6,span{
    color: rgb(200, 198, 198);
    text-align: center;
    line-height: 1.25;
}
h1{
    font-size: 36px;
}
p{
    color: rgb(195, 190, 190);
    line-height: 1.5;
    font-size: 16px;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.flex-1{
    flex:1;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.text--purple{
    color: rgb(172, 7, 172);
}
section:nth-child(even) {
    background-color: rgb(15, 15, 15);
}

.container{
    padding: 50px 0;
}
.section--title{
    margin-bottom: 20px;
}
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav--link--list{
    display: flex;
}
.nav--link--anchor{
    margin: 0 12px;
    color: rgb(199, 195, 195);
    text-decoration: none;
    font-weight: 700;
}
.nav--link--anchor-primary{
    background-color: rgb(172, 6, 172);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav--link--anchor-primary:hover{
    background-color: red;
}
.personal--logo{
    font-size: 24px;
    color: rgb(215, 206, 206);
    margin: 0 12px;
    font-weight: bold
}
#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 26, 26);
}
.about-me--info{
    display: flex;
    flex-direction: column;

}
.about-me--info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about-me--picture--mask{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0.,0.3, 0.3, 0.4);
    margin-bottom: 28px;
}
.about-me--picture{
    width: 100%;
    padding: 30px;
    padding-top: 15px;
    transform: scale(3.0);
}
.about-me--info--title{
    margin-bottom: 16px;
}
.about-me--info--para{
    font-size: 20px;
    margin-bottom: 28px;
}
.about-me--link{
    font-size: 30px;
    color:rgb(254, 106, 131);
    text-decoration: none;
    padding: 0 16px;
   
}
.about-me--link:hover{
    color: purple;
}
.about-me--img--container{
    margin-top: 10%;
    flex: 1;
    display: flex;
    align-items: center;
}
.about-me--img{
 width: 100%;   
}

.language--img{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language:hover .language--img {
    filter: brightness(70%);
    opacity: 0.86;
    transform: scale(.85);
}
.language{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}
.language--img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;

}

.language--list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.language--name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
}
.language:hover .language--name{
    transform: scale(1);
}